body{
      background-color: #EEEAEA;
      color: #2e2e2e;
      margin: 25px;
      padding: 0;
      font-size: 17px;
      line-height: 28px;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
div.content{
      border: 1px solid #EEEAEA;
      background-color: #EEEAEA;
      max-width: 100%;
      width: 96%;
      padding: 0%;
}
	 
#homebody {
		position: relative;
		z-index: -1;
		left: 0;
		top: 0;
		opacity: 0.3;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
		-khtml-opacity: 0.3;
		-moz-opacity: 0.3;
		filter: alpha(opacity=30);
		background-image:url(writing.jpg);
		background-position:center;
		background-repeat:no-repeat;
		background-size: 100% auto;
		height:400px;
}
	 
#navbar {
      width: 100%;
      color:black;
      margin-bottom:0px;
		padding: 5px;
		font-size: 12px;
		text-align:left;
}

#footbar {
		-webkit-column-count: 4; /* Chrome, Safari, Opera */
      -webkit-column-gap: 0px;
		-moz-column-count: 4; /* Firefox */
		-moz-column-gap: 0px;
		column-count: 4;
		column-gap: 0px;
		width: 100%;
		border-top-color: #605F5F;
		border-top-width: 3px;
		text-align: left;
}

#homemenu {
		-webkit-column-count: 3; /* Chrome, Safari, Opera */
      -webkit-column-gap: 0px;
		-moz-column-count: 3; /* Firefox */
		-moz-column-gap: 0px;
		column-count: 3;
		column-gap: 0px;
		width: 100%;
		text-align: center;
		margin-top: 2%;
}

#connect {
		font-size: 20px;
		font-weight: bold;
}