	<style>
		#navbar a{
			text-decoration:none;
			color: black;
			font-weight: bold;
			font-size: 2em;
			margin: 2%;
		}
		#navbar a:hover{
			color: #585858;
		}
	</style>
	
	<div id="navbar">
		<a href="http://www.quandiwriting.com/">
			<img src="{{STATIC_URL}}logo.png" border="0" style="border:none;max-width:100%;" alt="Quandi Writing" />
		</a>
		<a href={% url "home1" %}>Home</a>
		<a href={% url "about" %}>About Us</a>
		<a href={% url "serv" %}>Services</a>
		{% if user.is_authenticated %}
			<a href={% url "profile" %}>Profile ({{user.username}})</a>
			<a href={% url 'django.contrib.auth.views.logout' %}>Logout</a>
		{% else %}
			<a href={% url 'django.contrib.auth.views.login' %}>Login</a>		
		{% endif %}	
	</div>	

</div>