{% extends 'base.html' %}
{% block title %} Quandi {% endblock %}
{% block content %}
	<style>
		h1 {
			font-size: 4em;
			color: #0084FF;
		}
		h1.ontop {
			text-align: right;
			position: absolute;
			width: 95%;
			top: 2em;
			z-index: 5;
		}

		h2 {
			font-size: 1.3em;
			color: black;
		}
		h2.ontop {
			text-align: right;
			position: absolute;
			width: 95%;
			top: 12.5em;
			z-index: 5;
		}
		h2.ontopbutton {
			margin-left: 65%;
			text-align: right;
			position: absolute;
			width: 20%;
			top: 14.5em;
			z-index: 5;
		}
		
		#homemenu a {
			.floatcenter {float: center; margin: 0; width: 10px;}
			.clear {clear:both}
		}
	</style>
	<h1 class="ontop">
		Personalized <br><br>
		writing services
	</h1>
	<h2 class="ontop">
		to help you get to the college or job you want<br><br>
		<a href="{% url 'submit' %}" class="buttonhover"><img src="{{STATIC_URL}}upload.png" border="0" alt="Upload"/></a>
	</h2>
	<div id="homebody"></div>
	<div id="homemenu">
		<div class="floatcenter">
			<a href="http://www.quandiwriting.com/About/" class="buttonhover"><img src="{{STATIC_URL}}menu1.png" border="0" alt="Upload"/></a>
		</div>
		<div class="floatcenter">
			<a href="http://www.quandiwriting.com/About/" class="buttonhover"><img src="{{STATIC_URL}}menu2.png" border="0" alt="Upload"/></a>
		</div>
		<div class="floatcenter">
			<a href="http://www.quandiwriting.com/About/" class="buttonhover"><img src="{{STATIC_URL}}menu3.png" border="0" alt="Upload"/></a>
		</div>
	</div>
{% endblock %}