{% extends 'base.html' %}
{% block title %} Quandi {% endblock %}
{% block content %}
<h3>Submission Form</h3>

<form method="POST"	action="/upload/" enctype="multipart/form-data"> 
   {% csrf_token %}
	<p>
   {{ form.word_count.label }}: {{ form.word_count }} <br>
	{{ form.type_of_essay.label }}: {{ form.type_of_essay }} <br><br>
	{{ form.comments_or_special_requests.label }}:<br>{{ form.comments_or_special_requests }} <br><br>
	{{ form.prompt.label }}:<br>{{ form.prompt }} <br><br>
	Select your essay file: {{ form.upload_file }} <br>
	Expedited delivery? (extra $29) {{ form.delivery }}
	</p>
   <input type="submit" value="Submit" name='submit'>
</form>
{% endblock %}